<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>

    <div class="jumbotron text-center">
        <div class="row">
            <img src="https://youre.outof.games/media/uploads/56/6f/566f4907-7183-478a-a87c-908d41198d64/oscorp-tower-featured-location.jpg" alt="Oscorp Tower" width=1000px>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h3>Welcome!</h3>
                <p>Welcome to OsCorp, a global leader in cutting-edge technology and innovation. At OsCorp, we strive to redefine the future with groundbreaking solutions that push the boundaries of science. Explore our diverse range of products and services, from advanced robotics to sustainable energy solutions. Join us on our journey to create a better tomorrow through innovation that matters.</p>
            </div>
            <div class="col-sm-4 text-center">
                <h3>Our Mission</h3>
                <p>Discover the latest advancements developed by OsCorp's brilliant minds. From state-of-the-art artificial intelligence to revolutionary biotechnology, our featured technologies showcase the forefront of innovation. Dive into the details of our projects that aim to solve some of the world's most pressing challenges. At OsCorp, we believe in using technology for the betterment of humanity.</p>
            </div>
            <div class="col-sm-4 text-center">
                <h3>Ethics</h3>
                <p>OsCorp is committed to making a positive impact on the world. Learn about our corporate responsibility initiatives, including environmental sustainability, community engagement, and ethical business practices. Explore how OsCorp is dedicated to contributing to a brighter and more sustainable future. Join us in our mission to balance progress with responsibility.</p>
            </div>
        </div>
    </div>
</body>
</html>